html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: larger;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #1565c0;
}

a:hover {
    color: #217ee7;
}

#header {
    display: flex;
    justify-content: space-between;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    text-align: center;
    max-width: 520px;
    padding: 32px;
    line-height: 1.6em;
}

h1, h5 {
    margin: 0px;
}

h5 {
    color:#1ecd99;
}

p {
    font-size: smaller;
}

.home-icon {
    mask: url(../img/favicon.svg);
}

.home {
    display: inline-block;
    height: 32px;
    width: 32px;
    mask-size: cover;
    background: #1ecd99;
}

.home-icon:hover {
    background: #e75b64;
}

.avatar {
    border-radius: 50%;
    width: 150px;
    margin: 15px;
}

#specialization {
    font-weight: bold;
    color:#217ee7;
}

.socials {
    list-style-type: none;
    font-size: medium;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    max-width: 160px;
    margin: 0px auto;
}

.socials li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 42px;
    font-size: 22px;
}

.socials a {
    color: black;
}

.socials a:hover {
    color: #e75b64;
}

/* specialization */
.text-show {
    color: #217ee7;
    opacity: 1;
    transition: all 1s ease;
}

.text-fade {
    color: #217ee7;
    opacity: 0;
    transition: all 1s ease;
}
  